<% layout('/layouts/appBoilerplate') %>

<div class="card mb-5">
  <div class="card-body">
    <div class="row">
      <div class="col-8 p-0">
        <a class="aNo" href="/user/<%= article.author.username %> ">
          <img
            class="profile"
            src="<%= article.author.image.url %>"
            alt=""
            srcset=""
          />
          <span class=""><%= article.author.username %></span>
        </a>
      </div>

      <div class="right">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          ···
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <a href="/user/<%= article.author.username %>" class="col btn">프로필 보기</a>
              </div>
              <hr class="m-0" />

              <% if(currentUser.username === article.author.username) { %>

              <div class="modal-body">
                <a href="/<%= article._id %>/edit" class="col btn">수정하기</a>
              </div>
              <hr class="m-0" />
              <div class="modal-body">
                <form
                  class=""
                  action="/<%= article._id %>?_method=DELETE"
                  method="POST"
                >
                  <button class="text-danger col btn">삭제하기</button>
                </form>
              </div>

              <% } %>
              <hr class="m-0" />

              <div class="modal-body">
                <a href="/" class="col btn">목록으로 돌아가기</a>
              </div>

              <hr class="m-0" />
              <div class="modal-body">
                <button type="button" class="btn col" data-dismiss="modal">
                  취소
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <img class="mainImg" src="<%= article.image.url %> " alt="" srcset="" />
  </div>
  <div class="card-body">
    <!-- <div class="mb-3 articleToggleBox row">
      <form class="" action="#" method="get">
        <button class="atBtn">❤</button>
      </form>
      <form class="" action="#" method="get">
        <button class="atBtn">📖</button>
      </form>
      <form class="" action="#" method="get">
        <button class="atBtn">✉</button>
      </form>
    </div>
    <p><%= article.likes.length %>명이 이 글을 좋아합니다.</p> -->
    <p ><b><%= article.author.username %></b> <%= article.description %></p>
  </div>
  <hr class="m-0" />

  <div class="card-body">
    <% if(article.reviews.length) { %>
    <% for(let i=0; i<article.reviews.length; i++) { %>
      <% const review = article.reviews[i] %> 
    <div class="row">
      <div class="mb-3 col-10">
        <a class="aNo" href="/user/<%= review.author.username %> ">
          <img
            class="profile m-0 mr-1"
            src="<%= review.author.image.url %>"
            alt=""
            srcset=""
          />
          <span class=""><%= review.author.username %></span>
        </a>
        <span><%= review.body %> </span>
      </div>
      <div class="right">
        <button
          type="button"
          class="btn"
          data-toggle="modal"
          data-target="#reveiwModal<%= i %>"
        >
          ···
        </button>

        <div
          class="modal fade"
          id="reveiwModal<%= i %>"
          tabindex="-1"
          aria-labelledby="reviewModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
              <% if(currentUser.username === review.author.username) { %>

              <!-- <div class="modal-body">
                <a href="/<%= article._id %>/reviews/<%= review._id %>/edit" class="col btn">수정하기</a>
              </div>
              <hr class="m-0" /> -->
              <div class="modal-body">
                <form
                  class=""
                  action="/<%= article._id %>/reviews/<%= review._id %>?_method=DELETE"
                  method="POST"
                >
                  <button class="text-danger col btn">삭제하기</button>
                </form>
              </div>
              <% } %>

              <hr class="m-0" />
              <div class="modal-body">
                <button type="button" class="btn col" data-dismiss="modal">
                  취소
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %> <% } else { %>
    <div>표시할 댓글이 없습니다.</div>
    <% } %>
  </div>

  <hr class="m-0" />
  <div class="card-body">
    <form
      class="commentForm row"
      action="<%= article._id %>/reviews"
      method="POST"
    >
      <div class="col-9">
        <input
          class=""
          type="text"
          name="review[body]"
          id="body"
          placeholder="내용..."
        />
      </div>
      <div class="col-3">
        <button class="">게시</button>
      </div>
    </form>
  </div>
  <!-- <hr class="m-0" />
  <div class="card-body">
    <p><%= article.author.username %>님의 게시글 더보기</p>
  </div> -->
</div>
